<div>
{{#each tracks}}
  <div class="track" id="{{id}}">
    <p class="time">{{time}}</p>
    <p class="name">{{name}}</p>
    {{#each artists}}
      <p class="artist">{{this}}</p>
    {{/each}}
    <p class="album">
      {{#if album.label}}
        <a href="http://www.arkivmusic.com/classical/Playlist?label={{album.label}}&catalog={{album.catalog}}" target="newtab">{{album.label}} {{album.catalog}}</a>
      {{else}}
        {{album.text}}
      {{/if}}
    </p>
  </div>
{{/each}}
</div>
