<div class="track" id="{{id}}">
  <p class="time">{{time}}</p>
  <p class="name">{{name}}</p>
  {{#each artists}}
    <p class="artist">{{this}}</p>
  {{/each}}
  <p class="album">{{album}}</p>
</div>
